.govuk-template--rebranded .govuk-header {
  background-color: #05476d;
}

.govuk-template--rebranded .govuk-header__link--homepage:not(:focus) {
  background-color: unset;
}

/* special style for buttons rendered like links */
button.govuk-link {
  background: none;
  border: none;
  font-size: inherit;
  color: var(--govuk-frontend-color-blue);
  padding: 0;
  cursor: pointer;
}
